

body {
    padding: 0;
    margin: 0;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 16px;
    line-height: 150%;
    color: black;
    background: #efeee7;
  }


#container {
    background: #d6dbdf  }


#header {
    background: whitesmoke; 
    width: 100%;
    height: 60px; 
    border-bottom: 1px solid; 
}

#logo {
    position:relative;
    float: left;
    color:#283823;
    font-size:34px;
    font-weight:bold;
}

#navbar {
    float: right;
}

#content-area {
     
      width: 50%; 
      height: 50%; 
}


#footer {
    background: gray
}



